<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>

    <title>Title</title>
</head>
<body>
    <div id="app">
        <div>
            <lable>id
                <input type="text" v-model="id">
            </lable>

            <lable>name
                <input type="text" v-model="name">
            </lable>
            <input type="button" value="添加" @click="add">
        </div>

        <!--v-for循环的时候，key属性只能使用number获取string-->
        <!--key在使用的时候，必须实用v-bind属性绑定的形式，指定key的值-->
        <!--在组件中，实用v-for循环的时候，或者在一些特殊情况中，如果v-for有问题，必须使用v-for的同时，知道那个唯一的字符串/数字 类型：key值-->
        <p v-for="item in list" v-bind:key="item.id">
            <input type="checkbox">
            {{item.id}},---{{item.name}}
        </p>

    </div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            id:'',
            name: '',
            list: [
                {id: 1, name: '卫庄'},
                {id: 2, name: '盖聂'},
                {id: 3, name: '少司命'},
                {id: 4, name: '韩非'},
            ]
        },
        methods: {
            add(){
                this.list.push({id:this.id, name:this.name})
            }
        },
    })
</script>